<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body data-ng-app="beveragesApp">
  <main data-ng-controller="BeveragesController" data-ng-init="getAll()">
    <div data-thereyougo title="Beverages App">
      {{description}}
    </div>

    <div data-beverage-form save="createBeverage(beverage)"
          data-beverage="newBeverage"
          data-label-text="New Beverage"
          data-button-text="Create Beverage">
      </div>

    <ul id="beverageslist">
      <li class="{{beverage.status}}" data-ng-repeat="beverage in beverages">
        <span data-ng-if="!beverage.editing">{{beverage.beverageBody|sentencify}}
          <button data-ng-click="beverage.editing = true">Edit</button>
          <button data-ng-click="removeBeverage(beverage)">Delete</button>
        </span>
        <div data-beverage-form
              data-ng-if="beverage.editing"
              data-label-text="Edit Beverage"
              data-button-text="Save Changes"
              data-beverage="beverage"
              data-save="updateBeverage(beverage)">
        </div>
        <button data-ng-if="beverage.editing" data-ng-click="beverage.editing = false">Cancel</button>
      </li>
    </ul>
  </main>
      <script src="bundle.js"></script>
</body>
</html>
